body {
    font-family: 'Lato', sans-serif;
}

/* Workaround for horizontal scrollbar */
.container-fluid.p-0 {
    overflow: hidden;
}
.navbar {
    text-transform: uppercase;
    border-bottom: solid 1px #777;
}

.navbar-brand,
.navbar-nav {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
}

.navbar-brand {
    font-weight: bold;
    color: #ffc107!important;
}
.homepage-content {
    color: black;
    color: white;
    text-align: center;
    background-image: url(../images/pigeon-main.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    height: 90vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-content h1 {
    text-transform: uppercase;
    color: #ffc107!important;
    letter-spacing: 3px;
    /*color: #f4d442;
    color: #FFF;*/
}

.homepage-callout {
    background: rgba(255,255,255, .2);
    background: rgba(0,0,0, .5);
    width: 60%;
    padding: 2em 1em;
    border: solid 1px #333;
    border-top: none;
    border-bottom: none;
    box-shadow: inset 0px 0px 40px 40px #DBA632;
    box-shadow: 0px 0px 3px 0px #333;
}

.footer {
    box-shadow: inset 1px 4px 9px -6px #333;
    background-color: #888888;
    padding-top: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    text-align: center;
}

.footer-navigation a {
    color: #EEE;
}

.social-links {
    font-size: 32px;
    margin-top: -.3em;
}

.social-links a { 
    padding-right: .3em;
    color: #FFF;
}


/* Sidebar colour */
.facts-body {
    background-color: #888888;
    background-color: #EEE;
    background-color: #eafeea;
}

.fact-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fact-list li {
    padding: 2em 4em 4em 4em;
}

.fact {
    background-color: #ffc107;
    background-color: white;
    border-bottom: solid 8px #ffc107;
    border-bottom: solid 8px #EEE;
}

.fact-alternate {
    background-color: #333;
    background-color: #ffc107;
    background-color: #cb98cb;
    border-bottom: solid 8px #cb98cb;
    background-color: white;
    border-bottom: solid 8px #EEE;
}

.facts-timeline {
    padding: 2em;
}

.fact-pic {
    display: block;
    border: solid 1px #EEE;
    text-align: center;
    background-color: white;
    margin-bottom: 2em;
    color: grey;
}

.fact-pic img {
    max-width: 100%;
}

.fact h2, 
.facts-timeline h2,
.timeline-date {
    text-transform: uppercase;
    font-size: 18px;
    color: #ffc107;
    color: #bf7fbf;
}

.facts-timeline ul {
    border-left: solid 5px #bf7fbf;
    margin-left: 1em;
}

.facts-timeline li {
    margin-left: -1.7em;
}

.facts-timeline li {
    color: #3c3c3c; 
    list-style: none; 
}

.facts-timeline li::before {
    color: #bf7fbf; 
    color: #FFF; 
    content: "\2022"; 
    font-size: 3em; 
    position: relative;
    left: -.6em;
    top: 0;
}

.timeline-date {
    margin-top: -2.3em;
}

/* Smartphones */
@media (min-width: 320px) and (max-width: 480px) {
  
    .homepage-callout {
        width: 80%;
        padding: 1em;
    }
    .homepage-content h1 {
        font-size: 1.5em;
    }
    
}